@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
*{margin:0;padding:0;box-sizing:border-box;-webkit-user-drag: none;-khtml-user-drag: none;-moz-user-drag: none;-o-user-drag: none;}
body{
    height:100vh;
    width:100%;
    background-color: #A1278D;
    background-image: url("/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

#app {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
}

#terminals {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: grid;
    gap: 10px;
    margin: 10px;
    grid-template-columns: 50% 50%;
}

.terminal {
    width: 100%;
    height: 100%;
    border: 3px solid rgb(124, 49, 110);
    border-radius: 10px;
    transition: 0.5s;
    flex-direction: column;
    display: flex;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(25, 0, 25, 0.7);
    animation: showanim 0.75s;
    color: white;
}
@keyframes showanim {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.terminal:last-child{
    grid-row: 1 / 3;
}

.terminal .titlebar {
    width: 100%;
    height: 25px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    z-index: 2;
}
.terminal .titlebar .title::before {
    content: "";
    width: 1.75%;
    height: 1.75%;
    background-image: url("bash.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transform: translateX(-20px);
}
.terminal .titlebar .title {
    padding: 0px 20px;
    width: fit-content;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    padding-left: 37px;
    background-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.terminal .term {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.asciiart {
    white-space: pre-wrap;
    background-color: rgba(0, 0, 0, 0.6);
    width: fit-content;
    height: auto;
    aspect-ratio: 16/9;
    font-size: 13px;
    padding: 5px;
    border-radius: 15px;
}